<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue todo</title>
	<script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<div id="app">
	<form v-on:submit.prevent="submitHandler">
		<label for="name" class="text-4xl flex justify-center pt-5 pb-6">Добавить задачу</label>
		<br>
		<div class="flex justify-center mb-5">
			<input class="mr-5 border-2 border-black rounded" id="name" type="text" v-model="todo">
			<button type="submit">Добавить</button>
		</div>
	</form>
	<ul class="todo-container">
		<li v-for="todo in todos" :key="todo.id" class="flex justify-center pb-2 divide-y-2">
			<template v-if="!todo.editable">
				<span class="mr-2 p-3">{{ todo.title }}</span>
				<button class="mr-2 p-3" v-bind:disabled="todo.disabled" type="button" v-on:click="removeTodoHandler(todo.id)">Удалить</button>
				<button class="mr-0 p-2" v-bind:disabled="todo.disabled" type="button" v-on:click="editTodoHandler(todo.id)">Редактировать</button>
			</template>
			<template v-else>
				<input class="mr-2" type="text" v-model="tempValue">
				<button class="mr-2 p-2" type="button" v-on:click="saveNewValueHandler(todo.id)">Сохранить</button>
				<button class="mr-0 p-2" type="button" v-on:click="cancelSaveHandler(todo.id)">Отменить</button>
			</template
		</li>
		<div class="text-2xl flex justify-center pt-5 pb-6" v-if="!todos.length">Пока у вас нет ни одной задачи</div>
	</ul>
</div>

<script>

  const { createApp, toRaw } = Vue

  createApp({
    data() {
			return {
				tempValue: null,
				todo: null,
				todos: []
			}
		},
		methods: {
			submitHandler() {
				if(!this.todo) {
					return;
				}
				this.todos.push({
					id: `id-${this.todo}-${this.todos.length}`,
					title: this.todo,
					editable: false,
					disabled: false
				});
				this.todo = null;
			},
			removeTodoHandler(id) {
				this.todos = this.todos.filter((todo) => todo.id !== id);
			},
			editTodoHandler(id) {
				this.disableButtons();

				this.todo = this.todos.filter((todo) => todo.id === id)[0];
				this.todo.editable = true;
				this.tempValue = this.todo.title;
				this.todo = null;
			},
			changeHandler(e) {
				this.tempValue = e.target.value;
			},
			saveNewValueHandler(id) {
				this.todo = this.todos.filter((todo) => todo.id === id)[0];

				this.todo.title = this.tempValue;
				this.todo.id = `id-${this.tempValue}-${this.todos.length}`
				this.todo.editable = false;

				this.todo = null;
				this.tempValue = null;
			},
			cancelSaveHandler(id) {
				this.todo = this.todos.filter((todo) => todo.id === id)[0];

				this.todo.editable = false;

				this.todo = null;
				this.tempValue = null;
			},
			disableButtons() {
				this.todos.forEach(todo => {
					if(todo.editable) {
						return
					}
					todo.disabled = true;
				});
			}
		}
  }).mount('#app')
</script>
</body>
</html>